body {
    margin: 0px;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
  margin-bottom: 25px;
  background-color: red;
}

.Title {
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 0px;
  font-size: 20px;
  width: 40%;
  margin-right: 20px;
}

.navlink {
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  flex-direction: column;
  flex-wrap: wrap;
  width: 20%;
}

@media screen and (min-width: 610px) {
  .navlink {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
  }

  .Title {
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 0px;
    font-size: 20px;
    width: 50%;
  }
}

.navlink ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.navlink li {
  display: inline;
  padding: 2%;
}

.navlink a:hover {
    text-decoration: underline;
}

.navlink a {
    font-size: 25px;
    color: white;
    text-decoration: none;
}

.navlink .current {
    color: black;
}

.registerForm {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  margin: auto;
  background-color: lightgray;
  width: 35%;
  height: 350px;
  padding: 0px;
}

.registerForm h1 {
  width: 100%;
  font-family: monospace;
  font-weight: bold;
  font-size: 35px;
  padding-bottom: 5px;
  margin: 0;
  margin-top: 0;
  margin-bottom: 0;
  border: 0px;
  background-color: darkgray;
}

.registerForm form {
  width: 100%;
  margin: 10px;
}

.registerForm input {
  width: 70%;
  height: 40px;
  font-size: 20px;
  margin: 5px;
  padding: 6px;
  box-sizing: content-box;
}

.registerForm input[type="submit"]{
  background-color: lightgreen;
}

.registerForm input[type="submit"]:hover{
  background-color: green;
  cursor: pointer;
}

.boks {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  border: 2px green solid;;
  width: 55%;
  padding: 5px;
}

.boks section {
  background-color: green;
  height: 200px;
  width: 300px;
  text-align: center;
  margin: 5px;
}
